body {
    margin-right: 17% !important;
    margin-left: 17% !important;
    background: antiquewhite !important;
    font-family: 'Verdana', 'sans-serif';
}



div.global-wrapper{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: white;
}

.jumbotron {
    padding: 2rem 2rem !important;
}

.bold{
    font-weight: bold;
}

.person{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
}
.person:hover{
    background-color: #eeeeee;
}
.person .name{
    font-weight: bold;
}

.person-pc{
    padding-left: 1rem;
    border-radius: 0.3rem;
}
.person-pc:hover{
    background-color: #eeeeee;
}
.person-pc .name{
    font-weight: bold;
}

.image-caption{
    text-align: right;
}


nav ul, footer ul {
    font-family: 'Verdana', 'sans-serif';
    padding: inherit;
    margin: 0%;
    font-weight: bold;
}
nav ul li, footer ul li, .nav-wrapper {
    display: inline;
    margin-right: 20px;
}

.page-title {
    text-align: center;
    margin-bottom: 30px;
}

.subtitle {
    margin-top: 40px;
}

hr.custom-line{
    margin-bottom: 1.25rem !important;
    margin-top: 0.1rem !important;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}



.twitter{
    float: right;
    margin: 0px;
}
.twitter a{
    font-size: 19px;
    padding: 6px;
    margin: 0px !important;
}





.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 4.3rem;
}





.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    padding: 5px;
    position: absolute;
    margin-bottom: 10px;
    bottom: 5px;
    right: 0px;
    left: 10%;
    background-color: antiquewhite;
    color: black;
    opacity: 0.85;
}




.update {
    margin-left: -72px !important;
    padding-left: 72px;
    background: url(update.png) top left no-repeat;
}

.new {
    margin-left: -48px !important;
    padding-left: 48px;
    background: url(new.png) top left no-repeat;
}


.leaderboard{
    vertical-align: top;
    width: 45% !important;
    display: inline-block;
}